* {
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}

/* common css end */


/* header part start */
.banner {
    background-image: url("../images/banner/banner1.png");
    height: 808px;
    text-align: right;
    padding-right: 200px;
    background-repeat: no-repeat;
    background-size: 100%;
}

.banner_title {
    font-size: 65px;
    font-weight: 700;
    padding: 216px 0px 24px;
}

.banner_description {
    font-size: 18px;
    font-weight: 400;
    color: #444343;
    padding-bottom: 24px;
}

.banner_btn {
    height: 64px;
    font-size: 20px;
    padding: 21px 25px;
    font-weight: 600;
    color: #FFFFFF;
    background-color: #FF5959;
    border-radius: 5px;
    border: none;
}

/* header part end */


/* main part start */
.portfolio {
    padding: 130px 206px;
    gap: 87px;
    display: flex;
}

.portfolio_description_section {
    padding-top: 230px;
}

.portfolio_title {
    font-size: 40px;
    font-weight: 700;
    padding-bottom: 24px;
}

.portfolio_description {
    font-size: 18px;
    font-weight: 400;
    color: #444343;
    padding-bottom: 16px;
    line-height: 26px;
}

.portfolio_li {
    font-size: 18px;
    font-weight: 400;
    color: #444343;
    line-height: 26px;
    padding-bottom: 8px;
}

.planing_section {
    padding: 0px 230px 130px;
}

.planing_section_title {
    text-align: center;
    font-size: 40px;
    font-weight: 700;
}

.planing_section_part {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 90px;
}

.planing_section_icon {
    text-align: center;
}

.planing_time {
    background-image: linear-gradient(to right, red, transparent), url(../images/watch.png);
    height: 250px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 8px;
    margin: 0 230px;
    padding: 60px 0 0 70px;
    margin-bottom: 130px;
}

.planing_title {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 40px;
    padding-bottom: 24px;
}

.primary_btn {
    height: 64px;
    font-size: 20px;
    font-weight: 600;
    color: #F15B22;
    text-align: center;
    padding: 21px 36px;
    border-radius: 5px;
    border: none;
}

/* main part end */


/* footer part start */

.footer {
    height: 310px;
    background-color: #151414;
    color: #FFFFFF;
    padding: 130px 230px;
    display: flex;
    justify-content: space-between;
}

.footer_title {
    font-size: 45px;
    font-weight: 700;
    padding-bottom: 16px;
}

.footer_description {
    font-size: 18px;
    font-weight: 400;
    padding-bottom: 24px;
    line-height: 26px;
}

.footer_contact {
    font-size: 18px;
    padding-bottom: 16px;
}

.footer_icon {
    padding-top: 16px;
    margin: 10px;
}

.footer_right_title {
    font-size: 25px;
    font-weight: 600;
}

.footer_right_email {
    height: 64px;
    width: 225px;
    padding-left: 20px;
    background-color: #151414;
    border: 1px solid rgba(255, 255, 255, 1);
    border-radius: 5px;
    font-size: 18px;
    font-weight: 400;
    margin: 31px 0 16px 0;
    color: rgba(255, 255, 255, 1);
}

/* footer part end */